<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <h1>Edit Report for <%= report.date %></h1>

        <form action="/reports/<%= report.id %>/update" method="post">
            <div class="form-group">
                <label for="date"> Report Date</label>
                <input value="<%= report.date %>" type="date" name="date" value="2020-01-01">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>