<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <h1>New Daily Report</h1>

        <form action="/reports/create" method="post">
            <div class="form-group">
                <label for="date"> Enter New Report Date</label>
                <input type="date" name="date" value="2020-01-01">
            </div>
            <button type=" submit" class="btn btn-primary">Submit</button>
        </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>